.row {
    margin: 2%;
    border: 2px solid rebeccapurple;
    padding: 10px;
    background-color: aliceblue;
    text-align: left;
}

.container {
    background-color: beige;
    margin-bottom: 2%;
    padding: 10px;
}

#feedback {
    color: red;
}

body {
    text-align: center;
}

img {
    width: 100%;
    max-width: 200px;
}

ul {
    list-style-type: none;
}